/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: rgb(2,0,36);
    background: linear-gradient(211deg, rgba(2,0,36,1) 11%, rgba(9,121,35,1) 66%, rgba(0,212,255,1) 100%);
}

