 
 
 
.textFrontPage{
  color: whitesmoke;
}

 
 //mobile
  @media only screen and (max-width: 600px) {

    #logoFrontPage{
        // // width: 375px;
        // // height: 800px;
        width: 90%;
        height: 40%;
        margin-top: 20px;
        margin-left: 20px;


    }


  }